body {
      background-color: black;
    }


h1, h2, h3, h4, h5 {
  font-family: "Exo 2";
}


/* Remove Bootstrap blue highlight from dropdown items */
.dropdown-item.active,
/* .dropdown-item:active, */
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent !important;
  color: #0d0d0d !important;   /* your cyan accent */
}

.dropdown-item:active {
  background-color: tan;
}

/* Remove blue highlight from dropdown toggle itself */
.dropdown-toggle.show,
.nav-link.show,
.nav-link.active {
  background-color: tan;
  color: #b9bcb3 !important;
  box-shadow: none !important;
}
